.green {
  color: green;
}

ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  width: 80vw;
  margin: auto;
}
